.btn {
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--color-red);
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: var(--color-red);
    transform: translateY(-2px);
  }

  &:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }

  &:hover:disabled {
    transform: translateY(0px);
  }
}