<h2>Inscription</h2>

<!-- TODO: Boutons de connexion sociaux -->

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group-wrapper form-group-name">
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input id="firstName" type="text" formControlName="firstName" placeholder="Jean">
    </div>

    <div class="form-group">
      <label for="lastName">Nom</label>
      <input id="lastName" type="text" formControlName="lastName" placeholder="Dupont">
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email *</label>
    <input id="email" type="email" formControlName="email" placeholder="nom@exemple.com">
    <div [class.active]="email?.invalid && (email?.dirty || email?.touched || isSubmitted)" class="error-message">
      @if (email?.errors?.['required']) {
        <small>L'email est requis.</small>
      }
      @if (email?.errors?.['email']) {
        <small>Veuillez entrer un email valide.</small>
      }
    </div>
  </div>

  <div class="form-group password-group">
    <label for="password">Mot de passe *</label>
    <div class="password-input-wrapper">
      <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="••••••••">
      <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility()">
        @if (showPassword) {
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m18.922 16.8l3.17 3.17l-1.06 1.061L4.06 4.061L5.12 3l2.74 2.738A11.9 11.9 0 0 1 12 5c4.808 0 8.972 2.848 11 7a12.66 12.66 0 0 1-4.078 4.8m-8.098-8.097l4.473 4.473a3.5 3.5 0 0 0-4.474-4.474zm5.317 9.56A11.9 11.9 0 0 1 12 19c-4.808 0-8.972-2.848-11-7a12.66 12.66 0 0 1 4.078-4.8l3.625 3.624a3.5 3.5 0 0 0 4.474 4.474l2.964 2.964z"/></svg>
        }
        @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M1 12c2.028-4.152 6.192-7 11-7s8.972 2.848 11 7c-2.028 4.152-6.192 7-11 7s-8.972-2.848-11-7m11 3.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7"/></svg>
      }
    </button>
  </div>
  <div [class.active]="password?.invalid && (password?.dirty || password?.touched || isSubmitted)" class="error-message">
    @if (password?.errors?.['required']) {
      <small>Le mot de passe est requis.</small>
    }
    @if (password?.errors?.['minlength']) {
      <small>Le mot de passe doit faire au moins 6 caractères.</small>
    }
  </div>
</div>

<div class="form-group password-group">
  <label for="confirmPassword">Confirmer le mot de passe *</label>
  <div class="password-input-wrapper">
    <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="••••••••">
    <button type="button" class="password-toggle-btn" (click)="toggleConfirmPasswordVisibility()">
      @if (showConfirmPassword) {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m18.922 16.8l3.17 3.17l-1.06 1.061L4.06 4.061L5.12 3l2.74 2.738A11.9 11.9 0 0 1 12 5c4.808 0 8.972 2.848 11 7a12.66 12.66 0 0 1-4.078 4.8m-8.098-8.097l4.473 4.473a3.5 3.5 0 0 0-4.474-4.474zm5.317 9.56A11.9 11.9 0 0 1 12 19c-4.808 0-8.972-2.848-11-7a12.66 12.66 0 0 1 4.078-4.8l3.625 3.624a3.5 3.5 0 0 0 4.474 4.474l2.964 2.964z"/></svg>
      }
      @else {
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M1 12c2.028-4.152 6.192-7 11-7s8.972 2.848 11 7c-2.028 4.152-6.192 7-11 7s-8.972-2.848-11-7m11 3.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7"/></svg>
    }
  </button>
</div>
<div [class.active]="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched || isSubmitted)" class="error-message">
  @if (confirmPassword?.errors?.['required']) {
    <small>Le mot de passe est requis.</small>
  }
  @if (confirmPassword?.errors?.['minlength']) {
    <small>Le mot de passe doit faire au moins 6 caractères.</small>
  }
  @if (confirmPassword?.errors?.['mustMatch']) {
    <small>
      Les mots de passe ne correspondent pas.
    </small>
  }
</div>
</div>

<app-button
  [text]="'S\'inscrire'"
  [type]="'submit'"
  [disabled]="signupForm.invalid && isSubmitted"
  [customClass]="'auth-btn'">
</app-button>
</form>
