.biography-title {
  text-align: left;
}

.biography-grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-column-gap: 3rem;
}

@media (max-width: 400px) {
  .biography-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
}

.biography-text {
  text-align: justify;
}

.biography-img {
  width: 100%;

  img {
    margin-top: 1em;
    width: 100%
  }
}