:host {
  display: block;
  width: 25%;
}

.loader-spinner {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(24, 24, 24, 0.3);
  border-top-color: var(--color-text);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
